:root {

    /* background colors */
    --bg-1: #FFFFFF;
    --bg-2: #F5F6F7;
    --bg-3: #F0F2F5;
    --bg-4: #42B72A;
    --bg-5: #1877F2;

    /* text colors */
    --text-1: #FFFFFF;
    --text-2: #8A8D91;
    --text-3: #1877F2;
    --text-4: #737373;
    --text-5: #1D2129;
    --text-6: #1C1E21;
    --text-7: #000000;

    /* border colors */
    --border-1: #DDDFE2;
    --border-2: #DADDE1;
    --border-3: #CCD0D5;



}

body {
    margin: 0;
    padding: 0;
}

main,
footer {
    padding: 5% 20%;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-3);
}

footer {
    padding: 0 40px;
    background-color: var(--bg-2);
}

#brand-name {}

#login-form {}

#lang {}

#links {}

#copyright {}